<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="student_column (type)" class="col-md-2 text_center colonne-gauche" id="colonne-gauche">
    <div class="scrollableDiv">

        <div class="title_div blue">Mes cours</div>

        <div class="categorie-home" th:classappend="${selectedModule} ? nothing : current_categorie">
            <a th:href="@{/home/eleve/0}"><span
                class="glyphicon" th:classappend="${selectedModule} ? glyphicon-folder-close : glyphicon-folder-open"></span> <span
                class="dossier_name">Tous les cours</span></a></div>
        <div class="categorie-home btn-dossier" th:classappend="${selectedModule != null and selectedModule.id == module.id} ? current_categorie : nothing" th:each="module : ${modules}" th:id="${module.id}" ><a th:href="@{/home/eleve/{id}(id=${module.id})}"><span
                class="glyphicon" th:classappend="${selectedModule != null and selectedModule.id == module.id} ? glyphicon-folder-open : glyphicon-folder-close"></span> <span
                class="dossier_name" th:text="${module.name}">Cours n°1</span></a></div>

        <button id="notifications_prof" type="button" class="btn btn-primary btn_add_questionnaire2"
                data-toggle="modal" data-target="#notifications"><span
                class="glyphicon glyphicon-bell" aria-hidden="true"></span>
            Notifications <span th:if="${commentaires_non_lus.size() > 0}" th:text="${commentaires_non_lus.size()}" class="badge">10</span></button>
        <a th:href="'/home'" th:if="${type == 'questionnaire'}">
            <button type="button"
                    class="btn btn-primary btn_add_questionnaire2"><span
                    class="glyphicon glyphicon-inbox"
                    aria-hidden="true"></span> Questionnaires</button>
        </a>
        <a th:href="'/commentaire/view_all'" th:if="${type == 'commentaire'}">
            <button type="button"
                    class="btn btn-primary btn_add_questionnaire2"><span
                    class="glyphicon glyphicon-bullhorn"
                    aria-hidden="true"></span> Commentaires
            </button>
        </a>
    </div>

    <div id="notifications" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"1
                            data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-blue"><span
                            class="glyphicon glyphicon-bell"></span> Mes
                        notifications</h4>
                </div>
                <div class="modal-body">
                    <div class="notifications">
                        <ul class="notification-list" th:each="commentaire : ${commentaires}">
                            <li>
                                <a th:href="'/commentaire/view/' + ${commentaire.id}">
                                    <div class="media">
                                        <div class="media-left">
                                            <img src="https://cdn2.iconfinder.com/data/icons/2-color-line/64/si-duo-message-dot-128.png"
                                                 class="media-object cat-icon rounded-circle"
                                                 alt="..."/>
                                        </div>
                                        <div class="media-body">
                                            <ul class="n-user-list">
                                                <li><img
                                                        th:src="${commentaire.expediteur.hasPhoto() ? '/files/' + commentaire.expediteur.photo : '/img/photos_profil/default-user-image.png'}"
                                                        class="avatar rounded"
                                                        alt="..."/></li>
                                            </ul>
                                            <p class="media-heading"><b th:text="${commentaire.expediteur.firstName + ' ' + commentaire.expediteur.lastName}">Cet
                                                élève</b> a répondu à votre commentaire sur le cours
                                                "<b th:text="${commentaire.conversation.moduleConcerne.name}">APP Electronique</b>"</p>
                                        </div>
                                        <div class="panel panel-default panel_comment">
                                            <div class="panel-body" th:utext="${#strings.unescapeJava(#strings.replace(#strings.escapeJava(commentaire.message),'\n','&lt;br /&gt;'))}">Bonjour, je
                                                pense qu'ajouter les slides sur
                                                Moodle serait bénéfique à tous
                                                pour pouvoir mieux réviser.
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <p th:if="${commentaires.size() == 0}">Aucune notiification pour le moment</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal">
                        Fermer
                    </button>
                </div>
            </div>

        </div>
    </div>

</div>
</body>
</html>