<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head  :: head (title = 'Page 403')"></head>

<body>

<div class="container">
    <br/>
    <br/>
    <br/>
    <br/>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="text-center">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Oops
                        <small><b>erreur 403</b></small>
                    </h3>
                </div>
                <div class="panel-body" style="text-align:center;">
                    <p>Vous n'êtes pas censé être là on dirait ! Cliquez <a href="/home"><b>ici</b></a> pour retourner à l'accueil</p>

                    <img style="width:100%;" src="https://media.giphy.com/media/12m3rky8DHJ32g/giphy.gif"/>
                </div>
            </div>
        </div>
        <div class="col-md-2">

        </div>
    </div>
</div>

<img src="http://www.gulli.fr/var/jeunesse/storage/images/gulli/encyclopedie-et-dictionnaire/actu/l-age-de-glace-3-le-temps-des-dinosaures/images/crash-et-eddie/crash-eddie-5/7003641-1-fre-FR/Crash-Eddie-5_432_320.jpg"/>
<img class="img_404" src="http://www.gulli.fr/var/jeunesse/storage/images/gulli/encyclopedie-et-dictionnaire/actu/l-age-de-glace-3-le-temps-des-dinosaures/images/crash-et-eddie/crash-eddie-5/7003641-1-fre-FR/Crash-Eddie-5_432_320.jpg"/>

<!--<div class="div_404">
    <img src="https://scontent-cdg2-1.xx.fbcdn.net/v/t1.0-9/18194245_10212721854704998_180765136631955550_n.jpg?oh=474697997f49502ef0a668b3748d933d&oe=5987395D"/>
</div>

<div class="div_404_mobile">
    <h1>404</h1>
    <p>Cette page n'existe pas ou est indisponible</p>
</div> -->

</body>
</html>