<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
    </head>
<body>
<h4>Page commune à tout le monde</h4>
<a href="login.html">Lien vers la page de connexion</a><br>

<h4>Pages des professeurs</h4>
<a href="home/home_prof.html">Lien vers la page d'accueil d'un module</a><br>
<a href="questionnaire/questionnaire.html">Lien vers la page d'un questionnaire</a><br>
<a href="commentaire/liste_commentaires_prof.html">Lien vers la page listant les commentaires élèves</a><br>
<a href="commentaire/commentaire.html">Lien vers la page d'un commentaire</a><br>
<a href="profile/profil.html">Lien vers la page de profil</a><br>
<a href="notation/notation_prof.html">Lien vers la page des notes d'une classe</a><br>
<a href="module/module_selector.html">Lien vers la page de choix d'un module</a><br>

<h4>Pages des élèves</h4>
<a href="home/home_eleve.html">Lien vers la page d'accueil d'un module</a><br>
<a href="commentaire/liste_commentaires_eleve.html">Lien vers la page listant les commentaires publiés</a><br>
<a href="commentaire/commentaire_eleve.html">Lien vers la page d'un commentaire</a><br>
<a href="profile/profil_eleve.html">Lien vers la page de profil</a><br>

<h4>Pages des administrateurs</h4>
<a href="home/home_admin.html">Lien vers la page d'accueil des administrateurs</a><br>
<a href="questionnaire/questionnaire_admin.html">Lien vers la page d'un questionnaire</a><br>
<a href="commentaire/commentaire_admin.html">Lien vers la page d'un commentaire</a><br>
<a href="profile/profil_admin.html">Lien vers la page de profil</a><br>
<a href="notation/notation_admin.html">Lien vers la page des notes d'une classe</a><br>

<h4>Bugtracker</h4>
<a href="https://docs.google.com/spreadsheets/d/1SSlAl_U_s5RRcFVxUW-eNi-UhT4I5dO7z5e4XhXNmyw/edit?usp=sharing">Lien vers le bugtracker</a>
</body>
</html>
