<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head  :: head (title = 'Page 404')"></head>

<body>

    <div class="container">
	  <br/>
	  <br/>
	  <br/>
	  <br/>
	  <div class="row">
	    <div class="col-md-2"></div>
	    <div class="col-md-8">
	      <div class="panel panel-danger">
	        <div class="panel-heading">
	          <h3 class="text-center">
	          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Oops
	          <small>Page introuvable - <b>erreur 404</b></small>
	          </h3>
	        </div>
	        <div class="panel-body">
	          <p>La page que vous tentez d'atteindre est actuellement indisponible ou n'existe pas. Veuillez suivre ces instructions</p>
	
	            <ul class="list-group">
	              <li class="list-group-item">Vérifiez l'orthographe de la page que vous tentez d'atteindre, vous avez peut-être fait une petite erreur.</li>
	              <li class="list-group-item">Si vous avez atteint cette page en cliquant sur un lien,
	                <b>contactez-nous</b> pour nous en prévenir</li>
	                <li class="list-group-item">Oubliez tout ça, et aller <a href="/home">sur l'<b>accueil</b></a> :)</li>
	              </ul>
	          </div>
	        </div>
	      </div>
	      <div class="col-md-2">
	
	      </div>
	    </div>
	</div>

	<img src="http://www.gulli.fr/var/jeunesse/storage/images/gulli/encyclopedie-et-dictionnaire/actu/l-age-de-glace-3-le-temps-des-dinosaures/images/crash-et-eddie/crash-eddie-5/7003641-1-fre-FR/Crash-Eddie-5_432_320.jpg"/>
	<img class="img_404" src="http://www.gulli.fr/var/jeunesse/storage/images/gulli/encyclopedie-et-dictionnaire/actu/l-age-de-glace-3-le-temps-des-dinosaures/images/crash-et-eddie/crash-eddie-5/7003641-1-fre-FR/Crash-Eddie-5_432_320.jpg"/>
	
	<!--<div class="div_404">
		<img src="https://scontent-cdg2-1.xx.fbcdn.net/v/t1.0-9/18194245_10212721854704998_180765136631955550_n.jpg?oh=474697997f49502ef0a668b3748d933d&oe=5987395D"/>
	</div>
	
	<div class="div_404_mobile">
		<h1>404</h1>
		<p>Cette page n'existe pas ou est indisponible</p>
	</div> -->
	
</body>
</html>
